<div    class="pojemnik">
 


  <header class="pojemnik__header-logo">
    <div class="pojemnik__header-logo__image">
      <img class="pojemnik__header-logo__image__img" src="/assets/bsa-banner-btm-689.png" alt="">
    </div>
   
    <div class="pojemnik__header-logo__brand">
  
      <img class="pojemnik__header-logo__brand__img" src="/assets/MicrosoftTeams-image.png" alt="">
     
    </div>
  </header>
  <app-header></app-header>
  <app-scroll-to-top></app-scroll-to-top>

  <main class="pojemnik__main">

    <router-outlet></router-outlet>
 
  </main>

  <app-footer></app-footer>

  </div>











